.main{
    width: 100vw;
    height: 100vh; 
    background-image: url("/img/upbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .file_input{
    font-size: 20px;
    border-radius: 4px;
   
}
.main .file_select{
    font-size: 20px;
    border-radius: 4px;
}
.main label{
    font-size: 20px;
    border-radius: 4px;
}
.main option{
    font-size: 20px;
    border-radius: 4px;
}
.main .upload{
    font-size: 20px;
    border-radius: 4px;
}
.main form{
    padding: 16px 32px 16px 32px;;
    width: 50%;
    border-style: double;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.up-img img{
    width: 256px;
    height: 256px;
}